@page "/add-app"
@using casaWinOS.Data
@using Microsoft.AspNetCore.Components.Forms

@inject MyDbContext DbContext

<h3>Add App</h3>

<EditForm Model="@newApp" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label for="name">Name:</label>
        <InputText id="name" @bind-Value="newApp.Name" />
    </div>
    <div>
        <label for="url">URL:</label>
        <InputText id="url" @bind-Value="newApp.Url" />
    </div>
    <div>
        <label for="appIcon">Icon Path:</label>
        <InputText id="appIcon" @bind-Value="newApp.IconPath" />
    </div>
    <button type="submit">Add</button>
</EditForm>

@code {
    private SelectableApp newApp = new SelectableApp();

    private async Task HandleValidSubmit()
    {
        DbContext.MyApps.Add(newApp);
        await DbContext.SaveChangesAsync();
        newApp = new SelectableApp("", "", "");  // Reset form
    }
}
