@page "/"
@using casaWinOS.Components
@using casaWinOS.Data
@inject MyDbContext DbContext

<style>

    h1 {
        color: white;
    }

    #appTray{
        display: flex;
        flex-wrap: wrap;
    }

    a {

    }

</style>

<div style="display: flex; justify-content: space-between; margin: 20px;">
    <h1>
        App
    </h1>
    <h1 style="cursor: pointer;">
        <a style="text-decoration: none;" href="add-app">
        +
        </a>
    </h1>
</div>

<div id="appTray">
    @if (apps.Count == 0)
    {
        <p style="color: white;">Loading...</p>
    }
    else
    {

        @foreach (var app in apps)
        {
            <AppComponent Name="@app.Name" URL="@app.Url" IconPath="@app.IconPath" Id="@app.Id" OnDelete="HandleDelete"/>
        }
    }
</div>



@code {
    List<ISelectableApp> apps = new List<ISelectableApp>();

    protected override async Task OnInitializedAsync()
    {
        await LoadApps();
    }

    private async Task HandleDelete(int id)
    {
        // Refresh the app list after deletion
        await LoadApps();
    }

    private async Task LoadApps()
    {
        this.apps.Clear();

        var apps = DbContext.MyApps.ToList();
        foreach (var app in apps)
        {
            this.apps.Add(app);
        }
        //this.apps.Add(new SelectableApp("Plex", "https://cdn.jsdelivr.net/gh/IceWhaleTech/CasaOS-AppStore@main/Apps/Plex/icon.png", "https://192.168.1.109:32400/"));
    }
}